.card {
    border-radius: .5em;
    display: flex;
    position: relative;
    align-content: center;
}

.image {
    clip-path: inset(0 round .5em);
}

.title {
    position: absolute;
    bottom: 0;
    padding: .75em .5em;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .6) 75%);
    opacity: 0;
    transition: opacity .2s;
    width: 100%;
    color: white;
    clip-path: inset(0 round .5em);
    z-index: 1;
    height: 100%;
    max-height: 100%;
    display: flex;
}

.title span {
    align-content: flex-end;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card:hover .title,
.title:focus-visible,
.always {
    opacity: 1;
}

.card::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: none;
    border-radius: .5em;
}

.card:has(.title:focus-visible)::after,
.card:hover::after {
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .45);
}